.position{
    position:relative;
    bottom :160px;
    left:800px;
    

}

table,
      td,
      th {
        padding: 10px;
        border: 2px solid #1c87c9;
        border-radius: 5px;
        background-color:#e5e5e5;
        text-align: center;
    }
    
 


