/* RESET : */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: 
    linear-gradient(to bottom, rgba(10,10,10,0.2)0%, rgba(10,10,10,0.2)100%),
    url('IMG_8505.png');
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.horloge{
    display: flex;                                                        
    flex-direction: column;   
    justify-content: center;                       
    align-items: center;                                       
    color: #fff;
    text-shadow: 0 2px 50px rgba(10,10,10,0.5);
}

.heures{
    width: 500px;
    font-size: 100px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(10,10,10,0.2);
}

.date{
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 10px;
}



.note{
   
    background-color: #5a92bd;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 24px;
    padding-right: 0px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 510px ;
    position:relative;
    right: 270px;
    font-family:cursive;
  }
   .note span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .note span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .note:hover {
    background-color: #7a9cdf;
  }
  .note:hover span {
    padding-right: 25px;
  }
  .note:hover span:after {
    opacity: 1;
    right: 0;
  }

  .Textarea{
    color: red;
      resize : none;
      margin-bottom: 300px ;
      position:relative;
      right: 200px;
      font-family:cursive;
  }